# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native build output
/ios
/android
.kotlin/

# Signing / sensitive files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# environment variables
.env
.env.*

# TypeScript
*.tsbuildinfo

# coverage
coverage/